# -----------------------------
# THƯ MỤC KHÔNG CẦN PUSH
# -----------------------------
node_modules/
.env
*.env

# -----------------------------
# FILE BUILD OUTPUT
# -----------------------------
build/
dist/
.out/
.next/

# -----------------------------
# FILE HỆ THỐNG (Windows / Mac)
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# FILE LOG
# -----------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# -----------------------------
# FILE NÉN
# -----------------------------
*.rar
*.zip
*.7z

# -----------------------------
# EDITOR (VSCode)
# -----------------------------
.vscode/
.history/

# -----------------------------
# BACKEND: EXPRESS / NODE
# -----------------------------
coverage/
tmp/
uploads/
.cache/
